node_modules
.vscode/
*.backup
*.pdf
*.log
*.DS_Store
*.pem
.env
src/server/logs/*.log
src/server/deep-learning/__pycache__/
src/server/mmt/outputs/*
src/client/build/
src/server/deep-learning/attacks/*
src/server/deep-learning/trainings/*
src/server/deep-learning/xai/*
src/server/deep-learning/predictions/*
src/server/mmt/pcaps/*
src/public