SERVER_HOST=0.0.0.0
SERVER_PORT=31057
MODE=API
PROTOCOL=HTTP
# NATS server connection
NATS_URL=
# NATS users and passwords
NATS_USER_INGESTOR=
NATS_PASS_INGESTOR=
NATS_USER_VIEWER=
NATS_PASS_VIEWER=
# Default subject for subscription/publishing
NATS_SUBJECT="otics.ingest.>"