header {
    font-size: 1.6rem;
    font-family: 'Pacifico';
    text-align: center;
    padding: 6px 24px;
    /* color: #424242; */
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    /* background: #fff; */
    z-index: 10;
}

.selectedMenuItem {
    color: white !important;
}

.selectApp .ant-select-selector {
    color: white !important;
    font-size: 20px !important;
}

.ant-menu-dark .ant-menu-item-selected, .ant-menu-dark .ant-menu-item:active, .ant-menu-dark .ant-menu-submenu-title:active, .ant-menu-dark .ant-menu-item:hover, .ant-menu-dark .ant-menu-submenu-title:hover, .ant-menu-dark .ant-menu-submenu-active, .ant-menu-dark .ant-menu-submenu-open, .ant-menu-dark .ant-menu-submenu-selected, .ant-menu-dark .ant-menu-item:focus, .ant-menu-dark .ant-menu-submenu-title:focus {
    background-color: transparent !important;
}